@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{ var user = await UserManager.GetUserAsync(User); }

<div class="login-section">

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="action">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </div>
        <div class="action">
            <form id="logout-form" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a id="logout" class="nav-link" onclick="document.getElementById('logout-form').submit();">Logout</a>
            </form>
        </div>

        <script>
            var decodeEntities = (function () {
                // this prevents any overhead from creating the object each time
                var element = document.createElement('div');

                function decodeHTMLEntities(str) {
                    if (str && typeof str === 'string') {
                        // strip script/html tags
                        str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
                        str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
                        element.innerHTML = str;
                        str = element.textContent;
                        element.textContent = '';
                    }

                    return str;
                }

                return decodeHTMLEntities;
            })();

            setTimeout(() => {
                const user = JSON.parse(decodeEntities('@Utils.ToJson(user)'));
                mainApp.$store.commit('setUser', user);
            }, 1000);
        </script>
    }
    else
    {
        <div class="action">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div class="action">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>

