@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<div class="snapshot">
    <video id="video" autoplay muted></video>
</div>

<button id="snap">Take photo</button>

<script defer src="~/js/Modules/face-api.min.js"></script>
<script defer src="~/js/Modules/webCamFeed.js"></script>
<style>
    .snapshot {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .snapshot video {
        width: 100%;
        height: 100%;
    }
</style>
















@*Varianta 2*@

@*Stream video via webcam*@
<!--<div class="video-wrap">
    <video id="video" playsinline autoplay></video>
</div>-->
@*Trigger canvas web API*@
<!--<div class="controller">
    <button id="snap">Capture</button>
</div>-->
@*Webcam video snapshot*@
<!--<canvas id="canvas" width="640" height="480"></canvas>

<script>

    'use strict';

    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const snap = document.getElementById('snap');
    const errorMsgElement = document.getElementById('span#ErrorMsg');

    const constraints = {
        audio: true,
        video:{
            width: 1280, height: 720
        }
    };

    //Access webcam
    async function init() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stream);
        }
        catch (e) {
            errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;
        }
    }

    //Success
    function handleSuccess(stream) {
        window.stream = stream;
        video.srcObject = stream;
    }

    //Load init
    init();

    //Dram image
    var context = canvas.getContext('2d');
    snap.addEventListener("click", function () {
        context.drawImage(video, 0, 0, 640, 480);
    });

</script>-->
@*Varianta 3*@

@*<body>
        <video id="video" width="640" height="480" autoplay></video>
        <button id="snap">Take photo</button>
        <canvas id="canvas" width="640" height="480"></canvas>
        <script src="~/js/WebCameraFeed/camera.js"></script>
    </body>*@