@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


@*<script defer src="~/js/Modules/face-api.min.js"></script>
    <script defer src="~/js/Modules/webCamFeed.js"></script>
    <style>
        .snapshot {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .snapshot video {
                width: 100%;
                height: 100%;
            }
    </style>

    <body>
        <video id="video" width="720" height="560" autoplay muted></video>
    </body>

    <button id="snap">Take photo</button>*@

@*Camera Lens SVG/CSS Animation*@


<link href="~/css/CameraLens.css" rel="stylesheet" />

<a class="container" id="start-cam">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 180 180" enable-background="new 0 0 180 180" xml:space="preserve">
    <g class="outer">
<circle stroke="#202123" stroke-width="7" stroke-miterlimit="10" cx="90" cy="90" r="85.5" />
<path fill="none" stroke="#202123" stroke-width="4" stroke-miterlimit="10" d="M17.9,71.7C23.9,47.4,42,28,65.3,19.8 M154,127.2
	c-5.7,9.6-13.4,18-22.6,24.2" />
  </g>
    <g class="mid">
<circle stroke="#202123" stroke-width="11" stroke-miterlimit="10" cx="90" cy="90" r="59.8" />
<path fill="none" stroke-width="3" stroke-miterlimit="10" d="M109.3,33.4c15.8,5.4,28.7,17.2,35.4,32.5
	 M61.5,142.6c-7.8-4.2-14.7-10.3-19.9-17.5" />
  </g>
    <g class="inner">
<circle stroke="#202123" stroke-miterlimit="10" cx="90" cy="90" r="18" />
  </g>
    <g class="lens-flare">
<circle fill="#FFFFFF" cx="108.6" cy="66.2" r="19.9" />
<circle fill="#FFFFFF" cx="73.9" cy="112.5" r="10.9" />
  </g>
</svg>
</a>


@*Varianta care merge*@
<link href="~/css/webcam.css" rel="stylesheet" />

<div class="take-snapshot-container">
    <div class="snapshot-camera-container">
        <video class="snapshot-camera"></video>
    </div>
    <div class="photo-button my-3">
        <a class="take-snapshot">
            <div class="circle"></div>
            <div class="ring"></div>
        </a>
    </div>
</div>




<script defer src="~/js/Modules/webCamFeed.js"></script>

@*Varianta 2*@

@*Stream video via webcam*@
<!--<div class="video-wrap">
    <video id="video" playsinline autoplay></video>
</div>-->
@*Trigger canvas web API*@
<!--<div class="controller">
    <button id="snap">Capture</button>
</div>-->
@*Webcam video snapshot*@
<!--<canvas id="canvas" width="640" height="480"></canvas>

<script>

    'use strict';

    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const snap = document.getElementById('snap');
    const errorMsgElement = document.getElementById('span#ErrorMsg');

    const constraints = {
        audio: true,
        video:{
            width: 1280, height: 720
        }
    };

    //Access webcam
    async function init() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stream);
        }
        catch (e) {
            errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;
        }
    }

    //Success
    function handleSuccess(stream) {
        window.stream = stream;
        video.srcObject = stream;
    }

    //Load init
    init();

    //Dram image
    var context = canvas.getContext('2d');
    snap.addEventListener("click", function () {
        context.drawImage(video, 0, 0, 640, 480);
    });

</script>-->
@*Varianta 3*@
@*<html>
    <body>
        <video id="video" width="640" height="480" autoplay></video>
        <button id="snap">take photo</button>
        <canvas id="canvas" width="640" height="480"></canvas>
        <script src="~/js/webcamerafeed/camera.js"></script>
    </body>
    </html>*@

@*Varianta webcameasyjs*@

@*<html>
    <head>
        <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    </head>
    </html>

    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <canvas id="canvas" class="d-none"></canvas>
    <audio id="snapSound" src="audio/snap.wav" preload="auto"></audio>

    <script defer src="~/js/WebCameraFeed/webcam-easy.js"></script>
    <script defer src="~/js/WebCameraFeed/webCamera.js"></script>*@

