@{
    ViewData["Title"] = "Home Page";
}

<!-- main-top -->
<section class="main-top pt-5 pt-sm-0 pt-md-5">
    <article class="row mx-4 px-2 py-7">
        <div class="mt-text-btn col-sm-8 col-lg-7">
            <div class="m-text mt-text">
                <h1>Try Premium free for 3 months</h1>
                <h2 class="pt-3">Play millions of songs ad-free, on-demand, and offline.</h2>
            </div>
            <div class="mt-btn py-5">
                <a class="btn btn-black" href="#"><span>view plans</span></a>
            </div>
        </div>
        <div class="mt-img col-sm-12 col-lg-5 my-5">
            <img class="img-fluid" src="~/img/holiday-2019-image1.png" alt="">
        </div>
    </article>
</section>

<!-- main-bottom -->
<section class="main-bottom">
    <article class="mx-4 px-2 py-5">
        <div class="m-text mb-text">
            <h1>Spotify Free</h1>
            <h2 class="pt-3">Millions of songs. No credit card needed.</h2>
        </div>
        <div class="mb-btn pt-5">
            <a class="btn btn-green" href="#"><span>Get Spotify Free</span></a>
        </div>
    </article>
</section>


<!-- Modal -->
<div class="modal fade" id="login-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="login-confirmation-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                Login has been done with success!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>
