@font-face {
    font-family: "Circular";
    src: url("../fonts/lineto-circular-black.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../fonts/lineto-circular-pro-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../fonts/lineto-circular-pro-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: auto;
    font-family: "Circular", Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/** FONTS ------------------------------------ */
.nav-font {
    font: bold 16px/150% 'Circular', sans-serif;
}

.mob-nav-font {
    font: bold 36px/100% 'Circular', sans-serif;
    cursor: pointer;
}

/* === HOME PAGE RESPONSIVE CSS === */
.slideshowcontent h1 {
    font-size: 70px;
}

.slideshowcontent {
    font-size: 17px;
}

.slideshowcontent {
    color: #fff;
    font-weight: 600;
    line-height: 2;
    margin-top: 30px;
}

.slideshowcontent h1 {
    color: #0195eb;
    margin-bottom: 20px;
}

/** Navbar ---------------------------------- */
header {
    height: 54px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
}

    header .content {
        height: 100%;
        width: 100vw;
    }

.logo-wrapper a {
    display: inline-block;
    height: 40px;
    width: 132px;
    color: white;
    margin-top: 10px;
}

    .logo-wrapper a svg {
        fill: #fff;
        overflow: hidden;
    }

.top-nav li a {
    padding: 28px 17px;
    color: #fff;
    text-decoration: none;
}

.top-nav li a:hover,
.mob-top-nav li:hover a {
    color: #9c015e !important;
}

.mob-top-nav .separator {
    transform: rotate(90deg);
}

.signin {
    color: #d9dadc;
}

/* main ------------------------------------------------------------------------------- */
.m-text h1 {
    line-height: 1.2;
    margin: 0;
    padding-top: 80px;
    font-weight: 900;
    max-width: 100%;
    font-size: 56px;
    width: auto;
    display: inline-block;
    text-align: left;
    direction: ltr;
}

.m-text h2 {
    font-size: 24px;
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: left;
    direction: ltr;
}

/* main-top --------------------------------------------------------------------------- */
.main-top {
    background-color: #f037a5;
}

.mt-text {
    color: #121212;
}

/* main-bottom ------------------------------------------------------------------------ */
.main-bottom {
    height: 446px;
    background: url("../img/hero-burst-cropped.svg") no-repeat center/1610px 1523px, linear-gradient(#f037a5 -60%, #fae62d 140%);
    background-color: #f037a5;
}

.mb-text {
    color: #fff;
}

.btn {
    width: auto;
}

/* footer ----------------------------------------------------------------------------- */
footer {
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    font-weight: normal;
    min-height: 537px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #f037a5;
}

footer nav {
    padding: 0 82.5px;
}

.f-links {
    flex-wrap: wrap;
}

.f-social ul {
    flex-wrap: wrap;
}

.fl-title {
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.footer-logo {
    width: 132px;
}

.fc-img {
    height: 18px;
}

.f-bottom-links {
    font-weight: normal;
    color: #919496;
}

.fc-text {
    font-size: 12px;
    color: #919496;
}

.fbl-text {
    font-size: 12px;
    color: #fff;
}

.fb-date {
    font-size: 12px;
}

.f-bottom-links ul {
    flex-wrap: wrap;
}

/* footer animation ----------------------------------------------------------------------------- */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* defining camera animation for footer */
@keyframes iconPulse {
    0% {
        transform: scale3d(1, 1, 1);
        opacity: 0.99;
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
        opacity: 0.66;
    }

    100% {
        transform: scale3d(1, 1, 1);
        opacity: 0.99;
    }
}

/* setting rules for pulsing */
.camera-pulse {
    animation: iconPulse 1s ease-in-out infinite;
    color: crimson;
}

.camera-pulse:link,
.camera-pulse:visited {
    transition: all ease-in-out;
}

.camera-pulse-hover:hover,
.camera-pulse-hover:active {
    animation: iconPulse 1s ease-in-out infinite;
    color: #9c015e;
}

.cam-position {
    position: absolute;
    top: 150px;
    left: -100px;
}

.title-position {
    top: 50px;
    font-size: 30px;
    position: absolute;
    right: -70px;
}

/* demo styling */
* {
    box-sizing: border-box;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    min-height: 100vh;
}

.example {
    margin-bottom: 2.5rem;
}

.button-reset {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
}

.action:hover {
    color: #9c015e !important;
}

input[type=date] {
    color: #000;
}

.my-form .form-control:focus, .form-control:active {
    color: #fff;
}

#latest-releases a {
    color:#9c015e;
}